<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>https://c2.staticflickr.com/8/7451/12633853835_ab9aeab262.jpg</string>
	<string>http://farm8.staticflickr.com/7346/12648134005_608bbe57bb_o_d.jpg</string>
	<string>http://farm8.staticflickr.com/7388/12640328794_2f0202d512_o_d.jpg</string>
	<string>http://farm8.staticflickr.com/7317/12647311743_d5b891751c_o_d.jpg</string>
	<string>http://farm8.staticflickr.com/7418/12644028474_a2cc34d0d0_o_d.jpg</string>
</array>
</plist>
